Proyectos_Personales/Ciberseguridad/Incidentes de Seguridad/honeytrap-n8n/WORKFLOW_OFICIAL.json
{
  "name": "WORKFLOW_OFICIAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "honey-trap-access",
        "options": {}
      },
      "name": "Webhook_Trap",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-704, 160],
      "id": "07c15715-3e92-4b0a-a9b8-a3959a526f60",
      "webhookId": "6b64ee31-ce8f-435c-8170-1b74db5fdc80"
    },
    {
      "parameters": {
        "jsCode": "const headers = items[0].json.headers || {};\nconst body = items[0].json.body || {};\n\nconst ua = headers['user-agent'] || \"N/A\";\n\nlet risk = \"BAJO\";\n\nif (/sqlmap|nmap|nikto|dirbuster|wpscan/i.test(ua)) {\n  risk = \"CRITICO\";\n}\n\nreturn {\n  ip: headers['x-forwarded-for'] || headers['x-real-ip'] || \"unknown\",\n  method: items[0].json.method,\n  path: items[0].json.url,\n  user_agent: ua,\n  body: JSON.stringify(body),\n  severity: risk,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Analisis_Riesgo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 160],
      "id": "a1f53864-334f-4781-b88a-ed6c77d8ed4a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "value2": "CRITICO"
            }
          ]
        }
      },
      "name": "Es_Incidente_Claro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-256, 160],
      "id": "00887567-86da-4616-a29d-2de607c24d1a"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst logPath = '/home/node/scripts/honeytrap.log';\n\nconst data = items[0].json;\n\nconst logLine = [\n  '============================================================',\n  `[${data.timestamp}] INCIDENTE CRITICO DETECTADO`,\n  `IP Origen     : ${data.ip}`,\n  `Metodo HTTP   : ${data.method}`,\n  `Ruta accedida : ${data.path}`,\n  `User-Agent    : ${data.user_agent}`,\n  `Severidad     : ${data.severity}`,\n  `Body          : ${data.body}`,\n  `Acciones      : Telegram notificado | MailHog enviado | Registro en PostgreSQL`,\n  '============================================================'\n].join('\\n') + '\\n\\n';\n\ntry {\n  fs.appendFileSync(logPath, logLine, 'utf8');\n} catch (e) {\n  fs.mkdirSync(path.dirname(logPath), { recursive: true });\n  fs.appendFileSync(logPath, logLine, 'utf8');\n}\n\nreturn {\n  log_path: logPath,\n  log_entry: logLine,\n  status: 'Log escrito correctamente'\n};"
      },
      "name": "Guardar_Log_Fichero",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 160],
      "id": "f3a1b2c4-d5e6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "chatId": "1190607431",
        "text": "=🚨 *ALERTA DE SEGURIDAD - INCIDENTE CRÍTICO*\n───────────────────\n📢 *Evento:* Intrusión detectada en Honey-Trap\n🏷 *Criticidad:* {{ $json.severity }}\n📡 *Origen (IP):* `{{ $json.ip }}`\n🛠 *Herramienta:* {{ $json.user_agent }}\n\n🕒 *Timestamp:* {{ $json.timestamp }}\n📋 *Acción:* Registro en DB completado y escalado a MailHog.\n\n⚠️ *Acción Recomendada:* Bloquear IP en el Firewall perimetral y revisar logs de acceso en PostgreSQL.\n───────────────────\n_Enviado automáticamente por el Sistema de Detección n8n_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram_Alerta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [0, -112],
      "id": "eb630654-243d-4722-add6-b9b1c27dc8cc",
      "webhookId": "823a46e6-5fc4-46fa-baeb-65a4f53adf94",
      "credentials": {
        "telegramApi": {
          "id": "NJA3YOMC2pl81cMq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soc@cib.local",
        "toEmail": "admin@cib.local",
        "subject": "=[ALERTA CRITICA] Intrusion en Honey-Trap",
        "options": {}
      },
      "name": "MailHog_Urgente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [256, -96],
      "id": "237a42bb-6df5-4d47-97a4-7abd60a16bac",
      "webhookId": "3f22e196-29f0-4b73-a066-98a3fd2b4083",
      "credentials": {
        "smtp": {
          "id": "y7wnfhzCdtJxgsMU",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO incidentes (ip, agente, nivel, fecha) VALUES ('{{ $json.ip }}', '{{ $json.user_agent }}', '{{ $json.severity }}', '{{ $json.timestamp }}');",
        "options": {}
      },
      "name": "Postgres_Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [0, 304],
      "id": "b6d292db-d961-49d1-a580-83da57c4e835",
      "credentials": {
        "postgres": {
          "id": "4CsTQJl4igmQRVuL",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_Trap": {
      "main": [[{ "node": "Analisis_Riesgo", "type": "main", "index": 0 }]]
    },
    "Analisis_Riesgo": {
      "main": [[{ "node": "Es_Incidente_Claro", "type": "main", "index": 0 }]]
    },
    "Es_Incidente_Claro": {
      "main": [
        [
          { "node": "Telegram_Alerta", "type": "main", "index": 0 },
          { "node": "Postgres_Log", "type": "main", "index": 0 },
          { "node": "Guardar_Log_Fichero", "type": "main", "index": 0 }
        ],
        [
          { "node": "Postgres_Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "Telegram_Alerta": {
      "main": [[{ "node": "MailHog_Urgente", "type": "main", "index": 0 }]]
    },
    "MailHog_Urgente": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "86747a46-44a2-4de0-ae73-0cfe98ad1b64",
  "meta": {
    "instanceId": "8a166e8f3ec118535900a9a6dedb446babeb148567df7e4420f980c0f1325a40"
  },
  "id": "hCwBP4IhmZMkRyJI",
  "tags": []
}
